# Supabase > Project Settings > API
NEXT_PUBLIC_SUPABASE_URL="https://seu-projeto.supabase.co"
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY="sb_publishable_sua-chave"

# Configurações opcionais
GEMINI_API_KEY="sua-chave-gemini"
APP_URL="http://localhost:3000"
